<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "BasePageSuit" parallel="true" thread-count="2">

    <test name = "BasePageTesting">
        <classes>
            <class name = "DemoQaBasePageTest" />
        </classes>
    </test>

</suite>